html {
    /*background-color: #242424;*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url("./images/city.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header h1 {
    font-size: 60px;
    color: #FFFFFF;
    text-align: center;
    letter-spacing: 6px;
}

#skill {
    display: flex;
    justify-content: center;
}

.skills {
    font-size: 20px;
    color: #FFFFFF;

    margin: 10px 10px 10px;
    /*상단 좌우 하단*/
    padding: 3px;

    width: 100px;
    height: 30px;
    background-color: #242424;
    border: 1px solid #00ffa3;
    border-radius: 20px;

    display: flex;
    justify-content: center;

    transition: color 0.3s ease, backgorund-color 2s ease;

}

.skills:hover {
    transform: scale(1.1);
    color: #242424;

    background: linear-gradient(to Bottom right, #00FFA3, #39F7F2);
}

.project {
    background-color: #CCCCCC;
    width: 300px;
    height: 440px;
    margin: 40px;
    position: relative;

}

.project:hover {
    box-shadow: 0px 0px 10px #ffffff;
}

.projectBox {
    position: absolute;
    right: 0px;
    bottom: 0px;

    width: 300px;
    height: 80px;
    background-color: #00000095;
}

/*
.projectPhoto {

}
.projectTitle {

}
.projectDescription {

}
*/

main h2 {
    font-size: 60px;
    color: #FFFFFF;
}

#section1 {
    margin-top: 100px;
}

#section1>div {
    display: flex;
    justify-content: center;
    gap: 0px;
}

#section1>h2 {
    margin-left: 40px;
}

footer {
    font-size: 10px;
    text-align: center;
    color: white;
    margin-top: 60px;
    margin-bottom: 100px;
}